.grid-container{
    display: grid;
    background-color: aquamarine;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    border: 2px solid red;
    column-gap: 4px;
    row-gap: 2px;
    justify-content:space-between;
    align-items: center;
  
}
.item1{
    grid-column-start: 1;
    grid-column-end: 4;
   /* grid-column: 1/4;*/
    border: 2px solid black;
}
.item2{

    grid-row-start: 1;
    grid-row-end: 3;
    border: 2px solid black;
}
.item3{

    border: 2px solid black;
}
.item4{

    border: 2px solid black;
}
.item5{

    border: 2px solid black;
}
.item6{

    border: 2px solid black;
}
.item7{

    border: 2px solid black;
}

